<div class="container">
  Title: <%=@survey.title%><br><br>

  <!-- User hasnt taken this survey -->

  <form action="/survey/<%=@survey.id%>/take" method="post">
    <% @survey.questions.each do |question| %>
    <div>
      Question: <%=question.question_text%>
      <% question.choices.each do |choice| %>
      <div>
        <input type="radio" name="choices[<%=question.id%>]" value="<%=choice.id%>"><%=choice.choice_text%> <%=choice.choice_frequency%><br>
        </div>
        <%end%>
        <br>
        <%end%>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <!-- else show form stats -->


